### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01" target="_blank">Spacex DataSet</a>

In [34]:
#!pip install sqlalchemy==1.3.9
#!pip install ibm_db_sa
#!pip install ipython-sql

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [33]:
%sql ibm_db_sa://


##### Display the names of the unique launch sites  in the space mission

In [7]:
%%sql

SELECT DISTINCT(LAUNCH_SITE) 
FROM TBLSPACEX;

 * ibm_db_sa://gsj46097:***@125f9f61-9715-46f9-9399-c8177b21803b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30426/bludb
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]


##### Display 5 records where launch sites begin with the string 'CCA'

In [9]:
%%sql

SELECT * FROM TBLSPACEX
WHERE LAUNCH_SITE LIKE '%CCA%'
LIMIT 5;

 * ibm_db_sa://gsj46097:***@125f9f61-9715-46f9-9399-c8177b21803b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30426/bludb
Done.

[(datetime.date(2010, 4, 6), '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 8, 12), '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 8, 10), '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 1, 3), '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 3, 12), '22:41:00', 'F9 v1.1', 'CCAFS LC-40', 'SES-8', 3170, 'GTO', 'SES', 'Success', 'No attempt')]


##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [12]:
%%sql

SELECT SUM(PAYLOAD_MASS__KG_) AS TOTAL_PAYLOAD_MASS
FROM TBLSPACEX WHERE CUSTOMER = 'NASA (CRS)'
GROUP BY CUSTOMER;

 * ibm_db_sa://gsj46097:***@125f9f61-9715-46f9-9399-c8177b21803b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30426/bludb
Done.

[(22007,)]


##### Display average payload mass carried by booster version F9 v1.1

In [14]:
%%sql

SELECT AVG(PAYLOAD_MASS__KG_) AS AVG_PAYLOAD_MASS
FROM TBLSPACEX WHERE BOOSTER_VERSION = 'F9 v1.1'
GROUP BY BOOSTER_VERSION;

 * ibm_db_sa://gsj46097:***@125f9f61-9715-46f9-9399-c8177b21803b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30426/bludb
Done.

[(3676,)]


##### List the date when the first successful landing outcome in ground pad was acheived.

In [18]:
%%sql

SELECT MIN(DATE) FIRST_SUCCESSFUL_LAUNCH FROM TBLSPACEX 
WHERE LANDING__OUTCOME = 'Success (drone ship)';

 * ibm_db_sa://gsj46097:***@125f9f61-9715-46f9-9399-c8177b21803b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30426/bludb
Done.

[(datetime.date(2016, 6, 5),)]


##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [21]:
%%sql

SELECT BOOSTER_VERSION FROM TBLSPACEX 
WHERE LANDING__OUTCOME = 'Success (drone ship)'
AND PAYLOAD_MASS__KG_ > 4000 AND PAYLOAD_MASS__KG_ < 6000;

 * ibm_db_sa://gsj46097:***@125f9f61-9715-46f9-9399-c8177b21803b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30426/bludb
Done.

[('F9 FT B1022',), ('F9 FT  B1031.2',)]


##### List the total number of successful and failure mission outcomes

In [26]:
%%sql

SELECT (SELECT COUNT(MISSION_OUTCOME) FROM TBLSPACEX
       WHERE MISSION_OUTCOME LIKE '%Success%') AS 
        SUCCESSFUL_MISSION_OUTCOMES,
    (SELECT COUNT(MISSION_OUTCOME) FROM TBLSPACEX
       WHERE MISSION_OUTCOME LIKE '%Failure%') AS 
        FAILURE_MISSION_OUTCOMES FROM TBLSPACEX LIMIT 1;

 * ibm_db_sa://gsj46097:***@125f9f61-9715-46f9-9399-c8177b21803b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30426/bludb
Done.

[(45, 0)]


##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [28]:
%%sql

SELECT DISTINCT(BOOSTER_VERSION), 
MAX(PAYLOAD_MASS__KG_) AS MAX_PAYLOAD_MASS
FROM TBLSPACEX GROUP BY BOOSTER_VERSION 
ORDER BY MAX_PAYLOAD_MASS DESC;

 * ibm_db_sa://gsj46097:***@125f9f61-9715-46f9-9399-c8177b21803b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30426/bludb
Done.

[('F9 B5 B1048.4', 15600),
 ('F9 B5 B1049.4', 15600),
 ('F9 B5 B1049.5', 15600),
 ('F9 B5 B1058.3', 15600),
 ('F9 B5 B1060.2', 15600),
 ('F9 B5 B1051.5', 14932),
 ('F9 B5B1051.1', 12055),
 ('F9 B4 B1041.1', 9600),
 ('F9 B5 B1049.2', 9600),
 ('F9 B5B1049.1', 7060),
 ('F9 FT B1037', 6761),
 ('F9 B5 B1047.3', 6500),
 ('F9 B4 B1044', 6092),
 ('F9 B5 B1046.2', 5800),
 ('F9 B4  B1040.2', 5384),
 ('F9 FT B1032.1', 5300),
 ('F9 FT B1020', 5271),
 ('F9 FT  B1031.2', 5200),
 ('F9 B4 B1043.1', 5000),
 ('F9 B4 B1040.1', 4990),
 ('F9 FT B1022', 4696),
 ('F9 v1.1', 4535),
 ('F9 v1.1 B1011', 4428),
 ('F9 B5B1062.1', 4311),
 ('F9 B5 B1051.2', 4200),
 ('F9 v1.1 B1014', 4159),
 ('F9 B5 B1046.3', 4000),
 ('F9 B5  B1046.1', 3600),
 ('F9 FT B1021.1', 3136),
 ('F9 B5 B1048.2', 3000),
 ('F9 B5 B1058.4', 2972),
 ('F9 FT B1035.1', 2708),
 ('F9 B4  B1039.2', 2647),
 ('F9 B5B1059.1', 2617),
 ('F9 B5B1050', 2500),
 ('F9 B5B1056.1', 2495),
 ('F9 v1.1 B1012', 2395),
 ('F9 B5 B1059.2', 1977),
 ('F9 v1.0  B0007', 677),
 ('F9 v1.1 B1013', 570),
 ('F9 v1.0  B0006', 500),
 ('F9 v1.0  B0003', 0),
 ('F9 v1.0  B0004', 0)]


##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

In [32]:
%%sql

SELECT COUNT(LANDING__OUTCOME) AS NUMBER_OF_SUCCESSFULL_LANDINGS FROM TBLSPACEX 
WHERE LANDING__OUTCOME LIKE '%Success%' AND
DATE > '06-04-2010' AND 
DATE < '03-20-2017';

 * ibm_db_sa://gsj46097:***@125f9f61-9715-46f9-9399-c8177b21803b.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30426/bludb
Done.

[(4,)]

## Author

<h4> Vidhiwar Rathour </h4>